Django==5.0.6
djangorestframework==3.15.1
django-cors-headers==4.3.1
python-dateutil==2.9.0.post0
pandas==2.2.2
openpyxl==3.1.2
python-magic==0.4.27
python-docx==1.1.0
olefile==0.47
pdfkit==1.0.0
Faker==18.9.0
django-phonenumber-field[phonenumbers]==7.3.0
python-dotenv==1.0.1
whitenoise==6.7.0
weasyprint